.tweetContainer {
  padding: 2px;
  background-color: lightgray;
}

.tweetAvatar {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.tweetIcons {
  color: #757575;
  font-size: 0.5rem;
}

.tweetIconCount {
  color: #757575;
}
