.tweetContainer {
  padding: 5px;
  background-color: lightgray;
}

.tweetAvatar {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

//.tweetText {
//  border-bottom: solid 1px black;
//}

.tweetIcons {
  font-size: 0.5rem;
}
